body {
  font-family: "Open Sans", sans-serif;
}

nav {
  font-size: 1.5rem;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

h1 {
  font-size: 6rem;
  text-align: center;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    max-width: 90%;
  /*ancho max de 90% */
}

@media(min-width:150px) and (max-width:699px)
 {
  h1 {
    color: blue;
  }
}

@media(max-height:800px)
 {
  a {
    color: black;
    font-size: 1rem;
  }
  h1 {
    color: cyan;
  }
  a:hover {
    font-size: 3rem;
    color: cyan;
  }
}

/*5.-Ancho mínimo de 700 pixeles */
@media(min-width:700px)
 {
  h1 {
    color: orange;
  }
}

/*6.-Ancho mínimo de 1000 pixeles*/
@media(min-width:1000px)
 {
  h1 {
    color: yellow;
  }
}

/*7.-Cuando tenga orientación horizontal*/
@media(orientation: landscape)
 {
  body {
    background-color: grey;
  }
}

/*8.-Ancho mínimo de 1500 pixeles y agregar al "body" un fondo de una imagen web que cubra la pantalla*/
@media(min-width:1500px)
 {
  h1 {
    color: green;
  }
  body{
    background-image: url(https://blogdestinia.com/wp-content/uploads/2019/06/parque-nacional-banff.jpg);
    background-size: cover; 
  }
  /*8.-Agregar un fondo que cubra y se repita de una imagen web */
}

@media (max-width: 750px)
 {
  h1 {
    font-size: 4rem;
  }
  nav,nav ul {
    flex-direction: column;
    align-items: center;
  }
}

/*10.-Ancho máximo de 550 pixeles*/
@media (max-width: 550px)
 {
  body {
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    /*10.-Agregar la fuente roboto y usarla como primera opción */
  }
  h1 {
    font-size: 2.5rem;
  }
}