body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  margin: 10rem auto;
  font-size: 5rem;
}

#game {
  background-color: slategray;
  width: 90%;
  height: 500px;
  margin: 10rem auto;
  border: 1rem solid black;
  text-align: center;
  color: rgb(2, 2, 2);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;
  align-items: center;
}

div {
  font-size: 3vw;
  overflow: hidden;
  transition: linear 0.5s;
}

div:hover {
  transform: scale(0.5, 0.5);
  box-shadow: 0 0 2em 0.5em white;
  border: 0.2rem solid black;
  cursor: default;
}

#james{
  align-self: start; 
}

#laura,
#claire {
  align-self: center; 
}

#container,
#container2 {
  background-color: black;
  width: 90%;
  height: 500px;
  margin: 10rem auto;
  border: 1rem solid #0004ff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

#container div {
  height: 200px;
  width: 200px;
  flex-basis: 450px;
  flex-shrink: 0.1;
  flex-grow: 0;
}

#container div:nth-of-type(1) {
  flex-shrink: 3;
}
#container div:nth-of-type(2) {
  flex-shrink: 3;
}
#container div:nth-of-type(5) {
  flex-shrink: 3;
}
#container div:nth-of-type(6) {
  flex-shrink: 3;
}
#container div:nth-of-type(7) {
  flex-shrink: 3;
}

#container2 div {
  height: 200px;
  width: 200px;
  flex-basis: 100px;
  flex-grow: 0;
}

#container2 div:nth-of-type(3) {
  flex-grow: 3;
  flex-shrink: 3;
}
#container2 div:nth-of-type(4) {
  flex-grow: 3;
  flex-shrink: 3;
} 

#container2 div:hover {
  flex-grow: 10;
}